ACCESS_TOKEN_EXPIRE_IN_SECS=
CHANNEL_CAPACITY=
CHUNK_SIZE_MB=
DATABASE_HOST=
DATABASE_NAME=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_URL=
DATABASE_USER=
DATA_DIR=
REFRESH_TOKEN_EXPIRE_IN_DAYS=
SECRET_KEY=
SUPERUSER_EMAIL=
SUPERUSER_PASS=
TELEGRAM_API_BASE_URL=
TELEGRAM_API_HASH=
TELEGRAM_API_ID=
TELEGRAM_BOT_TOKEN=
VITE_API_BASE=
WORKERS=