ACCESS_TOKEN_EXPIRE_IN_SECS=
CHANNEL_CAPACITY=
DATABASE_HOST=
DATABASE_NAME=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_USER=
REFRESH_TOKEN_EXPIRE_IN_DAYS=
SECRET_KEY=
SUPERUSER_EMAIL=
SUPERUSER_PASS=
TELEGRAM_API_BASE_URL=
TELEGRAM_API_HASH=
TELEGRAM_API_ID=
WORKERS=
GEMINI_API_KEY=
VITE_API_BASE=
